body {
  line-height:1.5;
  margin:0;
  font-family: Poppins;  
  background-color: aliceblue;
}
h2, h3, h4, h5, h6, span, p {
  margin:0;
}

img {
  max-width: 100%;
}
.page-width {
  max-width: 1280px;
  margin:0 auto;
  padding:0 30px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px 0;
    gap:20px;
}

.intro img {
    max-width: 250px;
    margin: auto;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
  margin: 50px 0;
}

.intro h4 {
    display: block;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 30px;
}




.course-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.course-img {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}

.grid-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
  background: #ededed;
  border-radius: 15px;
  justify-content: flex-start;
  position: relative;
}

.grid-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
}

h2.course-main-heading {
  text-align: center;
  margin-bottom: 30px;
}

.course-cta {
  display: block;
  background: #000;
  color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
}


@media only screen and (max-width: 768px) {


  .courses-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  

}


@media only screen and (max-width: 480px) {


  .courses-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  

}


@media only screen and (max-width: 480px) {


  .courses-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }

  .page-width {
    padding: 0 10px;
}

.courses-grid {
    gap: 20px 10px;
}

h3.course-head {
    font-size: 16px;
}

.course-desc {
    font-size: 14px;
}

.grid-item {
    padding: 0px 0 16px 0;
}

.course-cta {
    font-size: 14px;
}
  

}